/* General Demo Style */
@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);

@font-face {
font-family: 'Snell Roundhand';
font-style: normal;
font-weight: normal;
src: local('Snell Roundhand'), url('SnellRoundhand.woff') format('woff');
}


body, html { font-size: 100%; padding: 0; margin: 0;}

/* Reset */
*,
*:after,
*:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}



body {
	font-family: 'Lato', Calibri, Arial, sans-serif;
	color: #fff;
	background: black;
	font-weight: 300;
}

a {
	color: #f0f0f0;
	text-decoration: none;
}

a:hover {
	color: #fff;
}

.main,
.container > header {
	width: 100%;
	height:100%;
	margin: 0 auto;

}

.container > header {
	padding: 2.875em 1.875em 2.875em;
	text-align: center;
	background: rgba(0,0,0,0.02);
}

.container > header h1 {
	font-size: 4em;
	line-height: 1.3;
	margin: 0;
	color: #fff;
	font-weight: 300;
	font-family:'Snell Roundhand';
}

.person {
	position:relative;
	width: 100%;
	height:100%;
	margin: 0 auto;

}

.person svg{
	width:100%;
	height:auto;
	margin-top:20px;
}

.info{
	width:100%;
	height:40px;
	position:relative;
}
.menu-column{
	width:25%;
	float:left;
}
.info-column{
	display:none;
	height:200px;
	float:left;
	text-align: left;
	background-color: black;
	font-family: 'Open Sans', sans-serif;
	font-weight: 50;
	font-size: 14px;
}

.pumpkin :hover{
width:120%;
height:auto;
}


.pumpkin{
	width:20%;
	position:absolute;
	-webkit-transition: all 2s ease;
    -moz-transition: all 2s ease;
    -o-transition: all 2s ease;
    transition: all 2s ease;
}

.drop{ 
	opacity:1;
	top: 200px; 
}

.pumpkin-0{
  width:15%;
  left:20%;
  top:20px;
}

.pumpkin-1{
  left:0%;
  top:280px;
}

.pumpkin-2{
  left:60%;
  top:190px;
}


.pumpkin-3{
  left:80%;
  top:330px;
}





ul li{
	display: inline;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	font-size: 20px;
	font-style: italic;

}


ul li a:hover {
	color: #DAACA1;
}

